* {
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

h1 {
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 22px;
}

h2 {
  color: #611593;
}

.container {
  width: 100vw;
  height: 100vh;
  background: #642e88;
  display: flex;
  flex-direction: column; /*Propriedade para alinhar em coluna todos os elementos dentro da classe container*/
  justify-content: center; /*com esta propriedade definida como center, fazemos com que os elementos internos (da classe box) sejam alinhados na horizontal*/
  align-items: center; /*com esta propriedade definida como center, fazemos com que os elementos internos sejam também alinhados na vertical*/
}

input {
  margin-top: 15px;
  border: none;
  background-color: #cfcfcf;
  height: 40px;
  width: 250px;
  text-align: center;
  font-size: 16px;
}

input[type="button"] {
  background-color: #611593;
  color: #ffffff;
  cursor: pointer;
  font-weight: 500;
}

input[type="button"]:hover {
  transform: scale(1.05);
}

input[value="Cadastrar"] {
  background-color: #bb9ece;
  color: #611593;
  cursor: pointer;
  font-weight: 500;
}

input[value="Cadastrar"]:hover {
  transform: scale(1.05);
}

.box {
  box-shadow: 1px 1px 20px #611593;
  width: 300px;
  height: 350px;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  border-top: 8px solid #430b68;
}

p {
  margin-top: 10px;
  font-size: 13.7px;
}

a {
  text-decoration: none;
}
